[mysqld]
character-set-server=utf8mb4

query_cache_type=1
innodb_buffer_pool_size=1300M
innodb_file_per_table=ON
innodb_log_file_size=200M
innodb_flush_log_at_trx_commit = 0
innodb_flush_method = nosync
sort_buffer_size = 3M

[mysql]
default-character-set=utf8mb4
[client]
default-character-set=utf8mb4
